<%= render 'parts/title_breadcrumb', title: t('label.inspirations') %>

<div class="row">

  <!-- Listings -->
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <div class="sort-by">
        <div class="sort-by-select">

        </div>
      </div>
      <h4><%= t('label.inspirations') %></h4>
      <ul>
        <%= render @inspirations %>
      </ul>
      <%= will_paginate @inspirations, previous_label: "<i class='sl sl-icon-arrow-left'></i>", next_label: "<i class='sl sl-icon-arrow-right'></i>" %>
    </div>
  </div>
</div>
