<div class="container" style="margin-top: 5px">
  <div class="row">
    <div class="col-md-3">
      <%= render "user_area_left", user: User.new %>
    </div>
    <div class="col-md-6 no-side-padding" style="margin-left: -5px;margin-right: -5px;">
      <%= render "stories_section" %>
    </div>
    <div class="col-md-3">
      <%= render "user_area_right" %>
    </div>
  </div>
</div>

