<div class="user-area user-area-right">
  <div class="module wtf-module js-wtf-module roaming-module has-content">
    <div class="Footer module roaming-module">
      <div class="flex-module">
        <div class="flex-module-inner">
          <ul class="u-cf">
            <li class="Footer-item Footer-copyright copyright">© <%= Time.now.year %> Inspiring Bangladesh</li>
            <li class="Footer-item"><a class="Footer-link" href="/about" rel="noopener">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
