<div class="user-area user-area-right">
  <div class="module wtf-module js-wtf-module roaming-module has-content">
    <div class="flex-module">
      <div class="flex-module-header">
        <h3>Who to follow</h3>
        <small>·</small>
        <button type="button" class="btn-link js-refresh-suggestions">
          <small>Refresh</small>
        </button>
        <small class="view-all">·
          <a class="js-view-all-link js-nav" href="/who_to_follow/suggestions" data-element-term="view_all_link">View
            all</a></small>
      </div>

      <div class="js-recommended-followers user-area-user-recommendations flex-module-inner" data-section-id="wtf" style="opacity: 1;">
        <div class="UserSmallListItem js-account-summary account-summary js-actionable-user promoted-account js-profile-popup-actionable" data-user-id="1115874631" data-feedback-token="38" data-impression-id="3e63b562d8572175" data-impression-cookie="[&quot;1115874631&quot;,&quot;3e63b562d8572175&quot;,&quot;promoted&quot;,&quot;&quot;,[],&quot;&quot;]">
          <div class="UserSmallListItem-context">
          </div>

          <div class="dismiss js-action-dismiss"><span class="Icon Icon--close"></span></div>

          <div class="content">
            <a class="account-group js-recommend-link js-user-profile-link user-thumb" href="/CGTNOfficial" data-user-id="1115874631" rel="noopener">

              <img class="avatar js-action-profile-avatar " src="https://pbs.twimg.com/profile_images/969543729500467202/y-kyowAV_bigger.jpg" alt="">
      <span class="account-group-inner" data-user-id="1115874631">
        <strong class="fullname">CGTN</strong><span class="UserBadges"><span class="Icon Icon--verified"><span class="u-hiddenVisually">Verified account</span></span></span><span class="UserNameBreak">&nbsp;</span><span class="username u-dir u-textTruncate" dir="ltr">@<b>CGTNOfficial</b></span>
      </span>
            </a>


            <div class="user-actions not-following not-muting" data-screen-name="CGTNOfficial" data-user-id="1115874631">

  <span class="user-actions-follow-button js-follow-btn follow-button">
  <button type="button" class="
    EdgeButton
    EdgeButton--secondary
    EdgeButton--small

    button-text
    follow-text">
    <span aria-hidden="true">Follow</span>
  </button>
</span>


              <small class="UserSmallListItem-promotedBadge metadata with-icn js-disclosure js-tooltip" data-original-title="">
                <a href="/CGTNOfficial" class="js-promoted-badge js-user-profile-link" rel="noopener">
                  <span class="Icon Icon--small Icon--promoted"></span>Promoted
                </a>
              </small>
            </div>

          </div>
        </div>


        <div class="UserSmallListItem js-account-summary account-summary js-actionable-user" data-user-id="15067554" data-feedback-token="117" data-impression-id="">
          <div class="UserSmallListItem-context">
          </div>

          <div class="dismiss js-action-dismiss"><span class="Icon Icon--close"></span></div>

          <div class="content">
            <a class="account-group js-recommend-link js-user-profile-link user-thumb" href="/sandimetz" data-user-id="15067554" rel="noopener">

              <img class="avatar js-action-profile-avatar " src="https://pbs.twimg.com/profile_images/2839753318/bbc02488eec4b91964375b0da9955be2_bigger.jpeg" alt="">
      <span class="account-group-inner" data-user-id="15067554">
        <strong class="fullname">Sandi
          Metz</strong><span class="UserBadges"></span><span class="UserNameBreak">&nbsp;</span><span class="username u-dir u-textTruncate" dir="ltr">@<b>sandimetz</b></span>
      </span>
            </a>


            <div class="user-actions not-following not-muting" data-screen-name="sandimetz" data-user-id="15067554">

  <span class="user-actions-follow-button js-follow-btn follow-button">
  <button type="button" class="
    EdgeButton
    EdgeButton--secondary
    EdgeButton--small

    button-text
    follow-text">
    <span aria-hidden="true">Follow</span>
    <span class="u-hiddenVisually">Follow <span class="username u-dir u-textTruncate" dir="ltr">@<b>sandimetz</b></span></span>
  </button>

</span>


            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="LiveVideoHomePageModuleContainer roaming-module">
    </div>
    <div class="Footer module roaming-module">
      <div class="flex-module">
        <div class="flex-module-inner">
          <ul class="u-cf">
            <li class="Footer-item Footer-copyright copyright">© <%= Time.now.year %> Inspiring Bangladesh</li>
            <li class="Footer-item"><a class="Footer-link" href="/about" rel="noopener">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
