<div class="user-area user-area-left">
  <div class="DashboardProfileCard  module">

    <a class="DashboardProfileCard-bg u-bgUserColor u-block" href="/amuntasim" tabindex="-1" aria-hidden="true" rel="noopener">
    </a>

    <div class="DashboardProfileCard-content">

      <a class="DashboardProfileCard-avatarLink u-inlineBlock" href="/amuntasim" title="Muntasim Ahmed" tabindex="-1" aria-hidden="true" rel="noopener">
        <%= image_tag user_avatar_image(current_user, :thumb), class: 'DashboardProfileCard-avatarImage js-action-profile-avatar' %>
      </a>

      <div class="DashboardProfileCard-userFields account-group">
        <div class="DashboardProfileCard-name u-textTruncate">
          <a class="u-textInheritColor js-nav" href="/amuntasim" rel="noopener">Muntasim Ahmed</a><span class="UserBadges"></span>
        </div>
        <span class="DashboardProfileCard-screenname u-inlineBlock u-dir" dir="ltr">
          <a class="DashboardProfileCard-screennameLink u-linkComplex u-linkClean js-nav" href="/amuntasim" rel="noopener"><span class="username u-dir" dir="ltr">@<b class="u-linkComplex-target">amuntasim</b></span></a>
        </span>
      </div>

      <div class="ProfileCardStats">
        <ul class="ProfileCardStats-statList Arrange Arrange--bottom Arrange--equal"><li class="ProfileCardStats-stat Arrange-sizeFit">
          <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip" title="9 Tweets" href="/amuntasim" data-element-term="tweet_stats">
            <span class="ProfileCardStats-statLabel u-block">Tweets</span>
            <span class="ProfileCardStats-statValue" data-count="9" data-is-compact="false">9</span>
          </a>
        </li><li class="ProfileCardStats-stat Arrange-sizeFit">
          <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip" title="20 Following" href="/amuntasim/following" data-element-term="following_stats">
            <span class="ProfileCardStats-statLabel u-block">Following</span>
            <span class="ProfileCardStats-statValue" data-count="20" data-is-compact="false">20</span>
          </a>
        </li><li class="ProfileCardStats-stat Arrange-sizeFit">
          <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip" title="20 Followers" href="/amuntasim/followers" data-element-term="follower_stats">
            <span class="ProfileCardStats-statLabel u-block">Followers</span>
            <span class="ProfileCardStats-statValue" data-count="20" data-is-compact="false">20</span>
          </a>
        </li>
        </ul>
      </div>


      <div id="user-area-profile-prompt"></div>

    </div>
  </div>












  <div class="module Trends trends">
    <div class="trends-inner"><div class="flex-module trends-container context-trends-container">
      <div class="flex-module-header">

        <h3><span class="trend-location js-trend-location">Trends for you</span></h3>
        <span class="middot" aria-hidden="true">·</span>
        <a role="button" href="#" data-modal="change-trends" class="btn-link change-trends js-trend-toggle">
          <span aria-hidden="true">Change</span>
          <span class="u-hiddenVisually">Change trend settings</span>
        </a>
      </div>
      <div class="flex-module-inner">
        <ul class="trend-items js-trends">
          <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#RoyalWedding" data-trends-id="-7666745841716761420" data-trend-token=":tailored_request:hashtag_trend:taxi_region_source:tweet_count_1000000_10000000_metadescription:">

            <a class="pretty-link js-nav js-tooltip u-linkComplex" href="/hashtag/RoyalWedding?src=tren" data-query-source="trend_click" data-original-title="">
              <span class="u-linkComplex-target trend-name" dir="ltr">#RoyalWedding<img class="twitter-hashflag" src="https://abs.twimg.com/hashflags/royalwedding2018/royalwedding2018.png" draggable="false" alt=""></span>


              <div class="js-nav trend-item-context"></div>
              <div class="js-nav trend-item-stats">
                5.79M Tweets
              </div>
            </a>

          </li>

          <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#Rohingyas" data-trends-id="-7666745841716761420" data-trend-token=":tailored_request:hashtag_trend:taxi_country_source:">

            <a class="pretty-link js-nav js-tooltip u-linkComplex" href="/hashtag/Rohingyas?src=tren" data-query-source="trend_click" data-original-title="">
              <span class="u-linkComplex-target trend-name" dir="ltr">#Rohingyas</span>


              <div class="js-nav trend-item-context"></div>
              <div class="js-nav trend-item-stats">

              </div>
            </a>

          </li>

          <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#Amazon" data-trends-id="-7666745841716761420" data-trend-token=":tailored_request:hashtag_trend:taxi_country_source:tweet_count_10000_100000_metadescription:">

            <a class="pretty-link js-nav js-tooltip u-linkComplex" href="/hashtag/Amazon?src=tren" data-query-source="trend_click" data-original-title="">
              <span class="u-linkComplex-target trend-name" dir="ltr">#Amazon</span>


              <div class="js-nav trend-item-context"></div>
              <div class="js-nav trend-item-stats">
                23.6K Tweets
              </div>
            </a>

          </li>

          <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#thriller" data-trends-id="-7666745841716761420" data-trend-token=":tailored_request:hashtag_trend:taxi_country_source:tweet_count_1000_10000_metadescription:">

            <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/hashtag/thriller?src=tren" data-query-source="trend_click">
              <span class="u-linkComplex-target trend-name" dir="ltr">#thriller</span>


              <div class="js-nav trend-item-context"></div>
              <div class="js-nav trend-item-stats">
                9,418 Tweets
              </div>
            </a>

          </li>

          <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#book" data-trends-id="-7666745841716761420" data-trend-token=":tailored_request:hashtag_trend:taxi_country_source:tweet_count_1000_10000_metadescription:">

            <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/hashtag/book?src=tren" data-query-source="trend_click">
              <span class="u-linkComplex-target trend-name" dir="ltr">#book</span>


              <div class="js-nav trend-item-context"></div>
              <div class="js-nav trend-item-stats">
                9,746 Tweets
              </div>
            </a>

          </li>

          <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#WorldBeeDay" data-trends-id="-7666745841716761420" data-trend-token=":tailored_request:hashtag_trend:taxi_worldwide_source:tweet_count_1000_10000_metadescription:">

            <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/hashtag/WorldBeeDay?src=tren" data-query-source="trend_click">
              <span class="u-linkComplex-target trend-name" dir="ltr">#WorldBeeDay</span>


              <div class="js-nav trend-item-context"></div>
              <div class="js-nav trend-item-stats">
                8,891 Tweets
              </div>
            </a>

          </li>

          <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#fiverr" data-trends-id="-7666745841716761420" data-trend-token=":tailored_request:hashtag_trend:taxi_country_source:tweet_count_1000_10000_metadescription:">

            <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/hashtag/fiverr?src=tren" data-query-source="trend_click">
              <span class="u-linkComplex-target trend-name" dir="ltr">#fiverr</span>


              <div class="js-nav trend-item-context"></div>
              <div class="js-nav trend-item-stats">
                8,279 Tweets
              </div>
            </a>

          </li>

          <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#WalkTheTalk" data-trends-id="-7666745841716761420" data-trend-token=":tailored_request:hashtag_trend:taxi_worldwide_source:">

            <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/hashtag/WalkTheTalk?src=tren" data-query-source="trend_click">
              <span class="u-linkComplex-target trend-name" dir="ltr">#WalkTheTalk</span>


              <div class="js-nav trend-item-context"></div>
              <div class="js-nav trend-item-stats">

              </div>
            </a>

          </li>

          <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#Dhaka" data-trends-id="-7666745841716761420" data-trend-token=":tailored_request:hashtag_trend:taxi_country_source:">

            <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/hashtag/Dhaka?src=tren" data-query-source="trend_click">
              <span class="u-linkComplex-target trend-name" dir="ltr">#Dhaka</span>


              <div class="js-nav trend-item-context"></div>
              <div class="js-nav trend-item-stats">

              </div>
            </a>

          </li>

          <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#Weltbienentag" data-trends-id="-7666745841716761420" data-trend-token=":tailored_request:hashtag_trend:taxi_worldwide_source:tweet_count_1000_10000_metadescription:">

            <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/hashtag/Weltbienentag?src=tren" data-query-source="trend_click">
              <span class="u-linkComplex-target trend-name" dir="ltr">#Weltbienentag</span>


              <div class="js-nav trend-item-context"></div>
              <div class="js-nav trend-item-stats">
                1,268 Tweets
              </div>
            </a>

          </li>

        </ul>
      </div>
    </div>
    </div>
  </div>


  <div class="module">
    <div class="MomentHomeModule">
    </div>
  </div>



</div>
