<%= render "home/story_form_popup" %>
<div class="story-item UserSmallListItem js-account-summary account-summary js-actionable-user" data-user-id="15067554" data-feedback-token="117" data-impression-id="">
  <div class="content">
    <a class="account-group js-recommend-link js-user-profile-link user-thumb" href="/sandimetz" data-user-id="15067554" rel="noopener">
      <img class="avatar js-action-profile-avatar " src="https://pbs.twimg.com/profile_images/2839753318/bbc02488eec4b91964375b0da9955be2_bigger.jpeg" alt="">
      <span class="account-group-inner" data-user-id="15067554">
        <strong class="fullname">Sandi
          Metz</strong><span class="UserBadges"></span><span class="UserNameBreak">&nbsp;</span><span class="username u-dir u-textTruncate" dir="ltr">@<b>sandimetz</b></span>
      </span>
    </a>

    <p class="story-content">
      asdf asd'f asdf asd;f as;df asdf
    </p>
  </div>
</div>

<div class="story-item UserSmallListItem js-account-summary account-summary js-actionable-user" data-user-id="15067554" data-feedback-token="117" data-impression-id="">
  <div class="content">
    <a class="account-group js-recommend-link js-user-profile-link user-thumb" href="/sandimetz" data-user-id="15067554" rel="noopener">
      <img class="avatar js-action-profile-avatar " src="https://pbs.twimg.com/profile_images/2839753318/bbc02488eec4b91964375b0da9955be2_bigger.jpeg" alt="">
      <span class="account-group-inner" data-user-id="15067554">
        <strong class="fullname">Sandi
          Metz</strong><span class="UserBadges"></span><span class="UserNameBreak">&nbsp;</span><span class="username u-dir u-textTruncate" dir="ltr">@<b>sandimetz</b></span>
      </span>
    </a>

    <p>
      asdf asd'f asdf asd;f as;df asdf
    </p>
  </div>
</div>

<div class="story-item UserSmallListItem js-account-summary account-summary js-actionable-user" data-user-id="15067554" data-feedback-token="117" data-impression-id="">
  <div class="content">
    <a class="account-group js-recommend-link js-user-profile-link user-thumb" href="/sandimetz" data-user-id="15067554" rel="noopener">
      <img class="avatar js-action-profile-avatar " src="https://pbs.twimg.com/profile_images/2839753318/bbc02488eec4b91964375b0da9955be2_bigger.jpeg" alt="">
      <span class="account-group-inner" data-user-id="15067554">
        <strong class="fullname">Sandi
          Metz</strong><span class="UserBadges"></span><span class="UserNameBreak">&nbsp;</span><span class="username u-dir u-textTruncate" dir="ltr">@<b>sandimetz</b></span>
      </span>
    </a>

    <p>
      asdf asd'f asdf asd;f as;df asdf
    </p>
  </div>
</div>
