

.u-block {
    display: block !important
}

.u-hidden, .u-emptyHide:empty {
    display: none !important
}

.u-hiddenVisually {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    font-size: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.u-inline {
    display: inline !important
}

.u-inlineBlock {
    display: inline-block !important;
    max-width: 100%
}

.u-table {
    display: table !important
}

.u-tableCell {
    display: table-cell !important
}

.u-tableRow {
    display: table-row !important
}

.u-flexColumn {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.u-flexRow {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.u-flexGrow {
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}


.user-area {
    float: left;
    width: 100%;
}

.win10-wrapper .user-area {
    display: none
}

.user-area.fixed-user-area {
    position: fixed
}

.user-area .user-area-left-placeholder {
    float: left;
    visibility: hidden
}

.flipped-user-area .user-area {
    float: right;
    margin-left: 10px
}

.content-inner, .content-narrow, .page-canvas, .permalink {
    background-clip: padding-box
}

.content-narrow, .page-canvas {
    border: 1px solid #e6ecf0;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.content-main {
    float: right;
    width: 590px
}

.user-area .SignupCallOut {
    margin-bottom: 10px
}

.module {
    background-clip: padding-box;
    border: 0;
    position: relative;
    margin-bottom: 10px
}

.module .flex-module {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 15px;
    line-height: 16px
}

.flex-module + .flex-module {
    border-top: 0
}

.flex-module-header {
    margin-bottom: 10px
}

.flex-module-header h3 {
    color: #14171a;
    display: inline;
    font-size: 18px;
    font-weight: bold
}

.flex-module-header small {
    line-height: 1
}

.flex-module-header p {
    font-size: 12px;
    color: #657786
}

.flex-module-inner, .flex-module-footer {
    color: #657786;
    font-size: 12px
}

.flex-module-footer .Icon {
    margin-right: 8px;
    top: 1px
}

.flex-module-inner ul, .flex-module-inner ol {
    color: #14171a
}

.follow-card .flex-module-header h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-right: 42px;
    word-wrap: break-word
}

.module ul + .flex-module {
    border-top: 1px solid #e6ecf0
}

.module .list-link {
    background-color: #fff;
    color: #66757f;
    border: 1px solid #e6ecf0;
    border-top: 0
}

.module .inner:first-child {
    border-top: 0
}

.module li:first-child .list-link {
    border-top: 1px solid #e6ecf0
}

.list-link.grid-link {
    border: 0
}

.module ul:first-child li:first-child .list-link, .module .flex-module:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit
}

.module ul:last-child li:last-child .list-link, .module ul:last-child li.last-item .list-link, .module .list-link.last, .module .flex-module:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit
}

.user-area .stats {
    background-color: #fff;
    border: 1px solid #e6ecf0
}


.follow-card h1 small {
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 16px
}

.follow-card header h2 {
    font-size: 14px;
    line-height: 20px
}

.follow-card .description .bio {
    margin-bottom: 9px
}

.follow-card .follow-bar {
    border: 1px solid #e6ecf0;
    box-shadow: inset 0 1px 0 #fff;
    padding: 8px 12px
}

.follow-card .stats {
    border: 0
}

.follow-bar .follow-combo, .follow-bar .subscribe-btn {
    float: left
}

.follow-bar small {
    float: right;
    line-height: 30px
}

.follow-card .featured-list-actions {
    border-right: 1px solid #e6ecf0;
    border-left: 1px solid #e6ecf0;
    padding: 10px 12px
}

.follow-card .featured-list-actions .featured-list-btn {
    margin-right: 10px
}

.follow-card .featured-list-actions .featured-list-explanation {
    font-size: 12px
}

.profile-card .flex-module {
    background-color: #fff
}

.profile-card .avatar {
    float: left
}

.profile-card-inner {
    float: left;
    width: 50%;
    margin: 0 0 0 12px
}

.profile-card-actions {
    position: relative;
    float: right
}

.profile-card-actions .btn-group-dropdown .dropdown-caret, .profile-card-actions .dropdown-menu .dropdown-caret {
    left: auto;
    right: 10px
}

.profile-card-actions .follow-btn-container {
    position: relative;
    height: 30px
}

.profile-card.profile-header {
    float: right;
    width: 590px;
    position: relative
}

.profile-card.profile-header .profile-picture {
    position: relative;
    z-index: 5;
    margin: 40px auto 6px;
    display: block;
    width: 73px;
    height: 73px;
    border: 4px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25)
}

.profile-card .profile-picture {
    display: block
}

.profile-card .profile-picture.hidden {
    display: none
}

.profile-card.profile-header .avatar {
    float: none;
    border-radius: 3px
}

.profile-header .profile-card-inner {
    width: 85%;
    margin: auto;
    float: none;
    position: relative
}

.profile-header .profile-card-inner h1, .profile-header .profile-card-inner h2, .profile-header .profile-card-inner p, .profile-header .profile-card-inner s, .profile-header .profile-card-inner a, .profile-header .profile-card-inner a b, .profile-header .profile-card-inner a:hover s, .profile-header .profile-card-inner a:hover b {
    color: #fff
}

.profile-card.profile-header .follow-status {
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff
}

.profile-card.profile-header .bio-container {
    font: inherit;
    font-size: 14px;
    line-height: 20px
}

.profile-card.profile-header .height-overflow .bio-container {
    font-size: 12px
}

.user-dropdown {
    height: 35px;
    padding: 2px
}

.small-user-dropdown {
    height: auto
}

.user-actions-follow-button.EdgeButton {
    vertical-align: top;
    padding: 0
}

.profile-social-proof {
    border-top: 1px solid #e6ecf0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.profile-social-proof .social-proof {
    padding: 10px 15px 10px 12px
}

.profile-social-proof .facepile {
    float: left;
    margin-right: 9px
}

.rtl .url {
    direction: rtl;
    unicode-bidi: embed
}

.rtl .screenname {
    direction: rtl;
    text-align: left
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 1
}

.avatar--circular {
    border-radius: 100%
}


.size73 {
    width: 73px;
    height: 73px
}

.size32 {
    width: 32px;
    height: 32px
}

.size24 {
    width: 24px;
    height: 24px
}

.avatar-row {
    overflow: hidden
}

.avatar-row a:focus img {
    outline: dotted 1px #000;
    outline: auto 5px -webkit-focus-ring-color
}

.avatar-row .size73 {
    margin-right: 5px
}

.avatar-row .avatar {
    float: left;
    margin-right: 5px
}

.list-link .avatar-row {
    height: 32px;
    margin-top: 7px;
    margin-bottom: 4px;
    line-height: 1
}

.list-link .avatar-row .avatar {
    margin-right: 3px
}

.active .list-link .avatar-row {
    margin-top: 8px;
    margin-bottom: 3px
}

s {
    text-decoration: none
}

b {
    font-weight: normal
}

.pretty-link b {
    color: inherit
}

.pretty-link:hover, .pretty-link:hover s, .pretty-link:focus, .pretty-link:focus s {
    text-decoration: none
}

.username-link:hover, .pretty-link:hover b, .username-link:focus, .pretty-link:focus b {
    text-decoration: underline
}

a.account-group:hover, a.account-summary:focus .account-group {
    text-decoration: none
}

a.account-group:hover .fullname, a.account-group:focus .fullname, a.account-summary:focus .fullname {
    color: #1c94e0;
    text-decoration: underline
}

a.account-group:hover .username, a.account-group:focus .username, a.account-summary:focus .username {
    text-decoration: none;
    color: #657786
}

.twitter-hashflag-container {
    display: inline-block
}

.twitter-hashflag {
    height: 1.25em;
    width: 1.25em;
    padding: 0 .05em 0 .1em;
    vertical-align: -0.2em
}

.followers-count {
    font-size: 12px;
    color: #657786;
    text-transform: lowercase
}

.followers-count strong {
    font-weight: normal
}

.fullname {
    word-break: break-all;
    color: #14171a;
    font-size: 14px;
    font-weight: bold
}

.account-group .username, .time, .time a, .created-via {
    font-size: 14px;
    color: #657786
}

.metadata, .metadata button.btn-link, .metadata a {
    font-size: 12px;
    color: #657786
}

.dismiss {
    float: right;
    width: 10px;
    height: 10px;
    margin-top: 5px;
    cursor: pointer
}

button.dismiss {
    background: transparent
}

.flex-table {
    width: 100%
}

.flex-table-primary, .flex-table-secondary {
    vertical-align: top
}

.flex-table-primary {
    width: 99%;
    padding-right: 5px
}

.flex-table-secondary {
    width: 1%;
    max-width: 1%
}

.flex-table-form {
    float: left;
    width: 100%
}

.flex-table-input {
    display: block;
    width: 100%;
    line-height: normal;
    height: 35px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.flex-table-btn {
    float: right;
    width: auto;
    white-space: nowrap
}


.content-searchbar {
    padding: 12px;
    background-color: #f5f8fa;
    border-bottom: 1px solid #e6ecf0
}

.content-searchbar .search-note {
    margin-top: 10px;
    color: #66757f
}

.content-searchbar .search-query {
    border-radius: 18px;
    padding: 0 12px
}

.account-summary {
    position: relative;
    display: block;
    min-height: 48px
}

.account-summary:hover, .account-summary:focus, .account-group:focus {
    text-decoration: none
}

.account-summary .avatar {
    position: absolute;
    top: 0;
    left: 0
}

.account-summary .content {
    margin-left: 58px;
    margin-right: 20px
}

.account-summary .account-group-inner, .account-summary .pretty-link, .account-summary .account-action, .account-summary .location {
    color: #657786
}

.account-summary .account-group, .account-summary .account-action {
    display: block;
    line-height: 16px
}

.account-group .UserBadges {
    font-size: .9em
}

.account-group .UserBadges .Icon {
    padding-left: 2px
}

.account-group .UserBadges .Icon--verified {
    font-size: 1.2em
}

.account-summary .maybe-follows-you {
    display: none
}

.account-summary .account-group-inner, .account-summary .metadata {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.account-summary .account-group-inner {
    display: block;
    width: 100%
}

.metadata.social-context, .account-summary .location {
    display: block
}

.account-summary .bio {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.account-summary .dismiss {
    margin-top: 0;
    color: #ccd6dd
}

.profile-summary .account-summary {
    margin-bottom: 0
}

.modal .account-summary {
    margin: 14px 14px 5px
}

.account-summary-small {
    min-height: 32px
}

.account-summary-small .content {
    margin-left: 0
}

.account-summary .Icon--promoted, .account-summary .Icon--political {
    font-size: 14px;
    position: relative;
    top: 2px
}

.account-summary.promoted-account .metadata a {
    color: #657786;
    font-size: 12px
}

.wtf-module {
    display: none
}

.wtf-module.has-content {
    display: block
}

.wtf-module .expanded-container {
    margin-top: 10px;
    display: none
}

.wtf-module .account-summary .content {
    min-height: 48px
}

.wtf-module .metadata.social-context {
    white-space: normal
}

.wtf-module h3 {
    font-size: 18px;
    font-weight: bold
}

.wtf-module .account-group {
    font-size: 14px
}

.wtf-module .UserSmallListItem {
    border-bottom: 1px solid #e6ecf0;
    padding-bottom: 8px;
    margin-bottom: 6px;
}

.wtf-module .UserSmallListItem:last-child {
    border-bottom: 0;
    padding-bottom: 0
}

.wtf-module .UserSmallListItem .user-actions {
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.wtf-module .UserSmallListItem .user-actions .UserSmallListItem-promotedBadge {
    margin-left: 0
}


.stream-item.has-profile-promoted-tweet {
    border-top: 1px solid #e6ecf0
}

.has-profile-promoted-tweet .stream-item {
    border-radius: 0 0 6px 6px
}

.stream-item .Tombstone {
    margin: 3px 0
}

.stream-item .content .Tombstone {
    margin: 7px 0 2px
}

.js-stream-item.is-selected:focus .ProfileCard {
    border-color: #ccd6dd;
    z-index: 2
}

.list-author {
    position: absolute;
    top: 12px;
    right: 12px
}

.list-follow-card h1 {
    margin-right: 42px;
    font-size: 18px
}

.ListFollowCard-metadata {
    font-size: 12px;
    line-height: 16px
}

.list-of-lists li {
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.list .header-inner #content-main-heading {
    color: #14171a;
    font-weight: bold;
    font-size: 18px
}


.stream-item.separated-module {
    margin-top: 8px;
    margin-bottom: 8px
}

.stream-item.separated-module.WtfLargeCarouselStreamItem, .stream-item.separated-module.WtfCompactCarouselStreamItem {
    margin-top: 28px;
    margin-bottom: 28px
}

.stream-item.separated-module:not(.no-header-background-module):first-child {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0
}

.stream-item + .stream-item.separated-module:not(.no-header-background-module), .stream-item.separated-module + .stream-item:not(.no-header-background-module), .PromptbirdPrompt-streamItem.separated-module + .stream-item:not(.no-header-background-module) {
    border-top: 1px solid #e6ecf0
}


.BannersContainer--overlay {
    left: 10px;
    right: 10px;
    margin: 0 auto;
    max-width: 840px;
    position: absolute;
    z-index: 15;
    top: 54px
}

.Banner {
    background-clip: padding-box;
    border-radius: 6px;
    border: 1px solid #e6ecf0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 16px;
    margin-bottom: 10px;
    position: relative
}

.Banner .flex-module {
    padding: 12px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    color: #14171a;
    background: #ccd6dd
}

.Banner .banner-row:first-child {
    margin-top: 0;
    padding-right: 20px
}

.Banner .banner-row {
    margin-top: 5px
}

.Banner .banner-row .btn {
    margin-right: 5px;
    font-weight: normal;
    border: 1px solid #e6ecf0;
    background-clip: padding-box
}

.Banner .warning {
    font-weight: bold
}

.Banner #device-verification-pin {
    height: 25px;
    position: relative;
    top: -2px
}

.Banner--aboveNav {
    background-color: #ccd6dd;
    border: 0;
    border-radius: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 62px;
    line-height: 20px;
    margin: 0
}

.Banner-textContent {
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.Banner--aboveNav + .Banner--aboveNav {
    border-top: 1px solid #e6ecf0
}

.Banner--blue {
    background-color: #1da1f2;
    color: #fff
}

.Banner--red {
    background-color: #f6809a
}

.Banner-darkGray {
    color: #fff;
    background-color: #66757f
}

.Banner-darkGray a {
    color: #fff;
    text-decoration: underline
}


@media screen and (min-width: 1236px) {
    .Banner-contentContainer {
        width: 1190px
    }
}

.Banner-actions {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 15px
}

.Banner-actions .email-settings-link, .Banner-actions .learn-more-link {
    color: #1c94e0
}

.Banner-actions .btn {
    margin-right: 5px
}

.Banner-textContainer {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding-right: 10px
}

.Banner--aboveNav.Banner--tall {
    height: 120px
}

.Banner--aboveNav b {
    font-weight: bold
}

.Banner-dismiss {
    position: absolute;
    top: 24px;
    right: 100px
}

.Banner--blue a, .Banner--blue a:active, .Banner--blue a:focus, .Banner--blue a:hover {
    color: inherit
}

.DashboardProfileCard {
    border: 1px solid #e6ecf0;
    background: #fff
}

.DashboardProfileCard--withoutStats {
    padding-bottom: 10px
}

.DashboardProfileCard .ProfileCardStats {
    padding-top: 16px
}

.DashboardProfileCard-bg {
    background-size: 100%;
    height: 95px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-position: 0 50%;
    width: 100%;
    padding: 0;
    margin-top: -1px
}

.DashboardProfileCard-avatarContainer {
    width: 72px
}

.DashboardProfileCard-avatarContainer .dropdown.center {
    float: none;
    right: auto
}

.DashboardProfileCard-avatarContainer .dropdown.center .dropdown-menu {
    position: absolute;
    left: -64px;
    top: 32px
}

.DashboardProfileCard-avatarImage .Icon {
    margin: 15px 0 0 18px
}

.DashboardProfileCard-avatarContainer .dropdown-menu {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    min-width: 220px;
    padding: 7px 0 6px 0
}

.DashboardProfileCard-avatarContainer .dropdown-link {
    font-size: 14px;
    line-height: 26px
}

.DashboardProfileCard-avatarContainer .dropdown-divider {
    border-bottom-color: #e6ecf0;
    margin-bottom: 5px
}

.DashboardProfileCard-avatarLink {
    background-color: #fff;
    border-radius: 50%;
    margin: -30px 0 0 8px;
    padding: 1px;
    vertical-align: bottom
}

.DashboardProfileCard-avatarImage {
    border-radius: 50%;
    height: 72px;
    width: 72px;
    border: 2px solid #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff
}

.DashboardProfileCard-userFields {
    position: absolute;
    top: 103px;
    left: 90px;
    width: 185px
}

.DashboardProfileCard-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: -1px 0 -2px 0
}

.DashboardProfileCard-screennameLink {
    font-size: 12px;
    padding-right: 5px;
    color: #66757f
}

.ProfileCardStats {
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px
}

.ProfileCardStats-stat {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1;
    overflow: hidden;
    transition: all .15s ease-in-out
}

.ProfileCardStats-stat:lang(ar), .ProfileCardStats-stat:lang(fa), .ProfileCardStats-stat:lang(ur) {
    line-height: 1.4
}

.ProfileCardStats .ProfileCardStats-stat {
    vertical-align: bottom
}

.ProfileCardStats-statLabel {
    color: #657786;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .02em;
    line-height: 16px;
    overflow: hidden;
    transition: color .15s ease-in-out
}

.ProfileCardStats-statValue {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    transition: color .15s ease-in-out
}

.ProfileCardStats-statLink:hover .ProfileCardStats-statLabel, .ProfileCardStats-statLink:focus .ProfileCardStats-statLabel, .ProfileCardStats-statLink:hover .ProfileCardStats-statValue, .ProfileCardStats-statLink:focus .ProfileCardStats-statValue {
    color: inherit
}

.Footer .twitter-logo {
    margin-bottom: 4px
}

.Footer ul {
    line-height: 18px
}

.Footer-item {
    display: inline
}

.Footer-item, .Footer-link {
    color: #657786
}

.Footer-item {
    float: left;
    padding-right: 8px
}

.Arrange-sizeFit{
    display: table-cell;
    width: 1%;
}
